<div id="actions" class="row mb-3" *showItBootstrap="['xs', 'sm']">
    <div class="col-6 pl-0 py-2 text-left" (click)="filters.visible = !filters.visible">
        <span class="action">{{ 'areYouFine.list.actions.filter' | translate }}</span>
    </div>
    <div class="col-6 pr-0 py-2 text-right" (click)="open(addGroupModal)">
        <span class="action">{{ 'areYouFine.list.actions.send' | translate }}</span>
    </div>
</div>

<form class="w-100">
    <div id="filters" class="row form-group align-items-center mt-0" [hidden]="!filters.visible">
        <div id="fromDate" class="col-12 col-md-3 col-xl-3 d-flex flex-column px-0 mb-2 mr-2">
            <ng-container *ngTemplateOutlet="daterange;
            context:{
                key: 'from_date',
                hint: 'areYouFine.list.filters.fields.fromDate' | translate,
                ngModel: queryFromDate,
                options: {
                    minDate: {year: 1919, month: 1, day: 1}
                }
            }"></ng-container>
        </div>

        <div id="toDate" class="col-12 col-md-3 col-xl-3 d-flex flex-column px-0 mb-2 ">
            <ng-container *ngTemplateOutlet="daterange;
            context:{
                key: 'to_date',
                hint: 'areYouFine.list.filters.fields.toDate' | translate,
                ngModel: queryToDate,
                options: {
                    minDate: {year: 1919, month: 1, day: 1}
                }
            }"></ng-container>
        </div>

        <app-button class="ml-auto mb-1" *hideItBootstrap="['xs', 'sm']"
                    [title]="'areYouFine.list.filters.actions.send' | translate"
                    (click)="open(addGroupModal)" ></app-button>

    </div>
</form>

<ng-template #daterange let-filterKey="key" let-hintText="hint" let-options="options" let-ngModel="ngModel">
    <div class="date-picker input-group">
        <input type="text"
               class="form-control"
               ngbDatepicker
               #datePicker="ngbDatepicker"
               [ngModel]="ngModel"
               [placeholder]="hintText"
               [showWeekdays]="options['showWeekdays']"
               [showWeekNumbers]="options['showWeekNumbers']"
               [placement]="options['placement'] || 'bottom-left'"
               [minDate]="options['minDate']"
               [maxDate]="options['maxDate']"
               (click)="datePicker.toggle()"
               (dateSelect)="filters.subject.next({ key: filterKey, value: $event })"
               (keyup)="onDateInputFieldKeyPressed(filterKey, $event.target['value'])">

        <div class="input-group-append" (click)="datePicker.toggle()">
            <i class="mdi mdi-calendar-range"></i>
        </div>
    </div>
</ng-template>

<ng-template #addGroupModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ 'areYouFine.send.fields.group.title' | translate }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="w-100" id="sendForm" [formGroup]="form">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group ml-2">
                            <div class="row">
                                <div class="col-12 d-flex flex-column mt-1">
                                    <label for="group">{{ 'areYouFine.send.fields.group.label' | translate }}</label>
                                    <ng-container id="group" *ngTemplateOutlet="group;
                                context:{
                                    hint: 'areYouFine.send.fields.group.placeholder' | translate,
                                    formControl: form.get('group')}">
                                    </ng-container>
                                    <small class="error" invalidControlCheck="group">{{ form.get('group').errors | serializeErrors:'errors.validations' }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-4 d-flex justify-content-end">
                        <app-button [title]="button.title | translate" [state]="button.state" (click)="onCreate()" *hideItBootstrap="['xs', 'sm']"></app-button>
                        <app-button [title]="button.title | translate" [state]="button.state" (click)="onCreate()" *showItBootstrap="['xs', 'sm']" class="w-100"></app-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #group let-hintText="hint" let-formControl="formControl">
    <div class="input-group">
        <input id="typeaheadGroups" type="text" class="form-control"
               [formControl]="formControl"
               [placeholder]="hintText"
               [ngbTypeahead]="searchGroup"
               [inputFormatter]="groupFormatter"
               [resultTemplate]="rt"
               (selectItem)="this.correctGroup = true"/>

        <div class="input-group-append">
            <i class="mdi mdi-magnify" *ngIf="!loading.term"></i>
            <i class="mdi mdi-loading" *ngIf="loading.term"></i>
        </div>
    </div>

    <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>

</ng-template>
