<form class="w-100" [formGroup]="form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="measurement-edit" class="form-group ml-2">
                    <div class="row">
                        <div class="row pt-4">

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="interval">{{ 'measurements.edit.fields.interval.label' | translate
                                    }}</label>
                                <input type="number" min="0" autocomplete="off" id="interval" formControlName="interval"
                                    [placeholder]="'measurements.edit.fields.interval.placeholder' | translate">
                                <small class="error" invalidControlCheck="interval">{{ form.get('interval').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="authenticationMode">{{ 'measurements.edit.fields.authenticationMode.label' |
                                    translate
                                    }}</label>
                                <select id="authenticationMode" class="w-100 form-control"
                                    formControlName="authenticationMode">
                                    <option value="" selected>{{
                                        'measurements.edit.fields.authenticationMode.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of authenticationModeTypes" [value]="category.value">{{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="authenticationMode">{{
                                    form.get('authenticationMode').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="keyChain">{{ 'measurements.edit.fields.keyChain.label' | translate
                                    }}</label>
                                <input type="text" autocomplete="off" id="keyChain" formControlName="keyChain"
                                    [placeholder]="'measurements.edit.fields.keyChain.placeholder' | translate">
                                <small class="error" invalidControlCheck="keyChain">{{ form.get('keyChain').errors
                                    | serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="timestampFormat">{{ 'measurements.edit.fields.timestampFormat.label' |
                                    translate
                                    }}</label>
                                <select id="timestampFormat" class="w-100 form-control"
                                    formControlName="timestampFormat">
                                    <option value="" selected>{{
                                        'measurements.edit.fields.timestampFormat.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of timestampFormatTypes" [value]="category.value">{{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="timestampFormat">{{
                                    form.get('timestampFormat').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="delayMeasurementMode">{{
                                    'measurements.edit.fields.delayMeasurementMode.label' |
                                    translate
                                    }}</label>
                                <select id="delayMeasurementMode" class="w-100 form-control"
                                    formControlName="delayMeasurementMode">
                                    <option value="" selected>{{
                                        'measurements.edit.fields.delayMeasurementMode.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of delayMeasurementModeTypes" [value]="category.value">
                                        {{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="delayMeasurementMode">{{
                                    form.get('delayMeasurementMode').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="sessionReflectorMode">{{
                                    'measurements.edit.fields.sessionReflectorMode.label' |
                                    translate
                                    }}</label>
                                <select id="sessionReflectorMode" class="w-100 form-control"
                                    formControlName="sessionReflectorMode">
                                    <option value="" selected>{{
                                        'measurements.edit.fields.sessionReflectorMode.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of sessionReflectorModeTypes" [value]="category.value">
                                        {{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="sessionReflectorMode">{{
                                    form.get('sessionReflectorMode').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="sessionSender">{{
                                    'measurements.edit.fields.sessionSender.label' |
                                    translate
                                    }}</label>
                                <select id="sessionSender" class="w-100 form-control" formControlName="sessionSender">
                                    <option value="" selected>{{
                                        'measurements.edit.fields.sessionSender.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of sessionTypes" [value]="category.value">
                                        {{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="sessionSender">{{
                                    form.get('sessionSender').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="sessionReflector">{{
                                    'measurements.edit.fields.sessionReflector.label' |
                                    translate
                                    }}</label>
                                <select id="sessionReflector" class="w-100 form-control"
                                    formControlName="sessionReflector">
                                    <option value="" selected>{{
                                        'measurements.edit.fields.sessionReflector.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of sessionTypes" [value]="category.value">
                                        {{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="sessionReflector">{{
                                    form.get('sessionReflector').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="sidlist">{{ 'measurements.edit.fields.sidlist.label' | translate
                                    }}</label>
                                <input type="text" autocomplete="off" id="sidlist" formControlName="sidlist"
                                    [placeholder]="'measurements.edit.fields.sidlist.placeholder' | translate">
                                <small class="error" invalidControlCheck="sidlist">{{ form.get('sidlist').errors
                                    | serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="returnSidlist">{{ 'measurements.edit.fields.returnSidlist.label' | translate
                                    }}</label>
                                <input type="text" autocomplete="off" id="returnSidlist" formControlName="returnSidlist"
                                    [placeholder]="'measurements.edit.fields.returnSidlist.placeholder' | translate">
                                <small class="error" invalidControlCheck="returnSidlist">{{
                                    form.get('returnSidlist').errors
                                    | serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="duration">{{ 'measurements.edit.fields.duration.label' | translate
                                    }}</label>
                                <input type="number" min="0" autocomplete="off" id="duration" formControlName="duration"
                                    [placeholder]="'measurements.edit.fields.duration.placeholder' | translate">
                                <small class="error" invalidControlCheck="duration">{{
                                    form.get('duration').errors
                                    | serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="runOptions">{{
                                    'measurements.edit.fields.runOptions.label' |
                                    translate
                                    }}</label>
                                <select id="runOptions" class="w-100 form-control" formControlName="runOptions">
                                    <option value="" selected>{{
                                        'measurements.edit.fields.runOptions.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of checkTypes" [value]="category.value">
                                        {{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="runOptions">{{
                                    form.get('runOptions').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="overlaySession">{{ 'measurements.edit.fields.overlaySession.label' |
                                    translate
                                    }}</label>
                                <select id="overlaySession" class="w-100 form-control" formControlName="overlaySession">
                                    <option value="" selected>{{
                                        'measurements.edit.fields.overlaySession.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of overlayTypes" [value]="category.value">{{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="overlaySession">{{
                                    form.get('overlaySession').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <!--<div class="col-12 col-md-6 d-flex flex-column">
                                <label for="description">{{ 'overlaynets.edit.fields.description.label' | translate
                                    }}</label>
                                <input type="text" autocomplete="off" id="description" formControlName="description"
                                    [placeholder]="'overlaynets.edit.fields.description.placeholder' | translate">
                                <small class="error" invalidControlCheck="description">{{ form.get('description').errors
                                    | serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="type">{{ 'overlaynets.edit.fields.type.label' | translate }}</label>
                                <select id="type" class="w-100 form-control" formControlName="type">
                                    <option value="" selected>{{ 'overlaynets.edit.fields.type.placeholder' | translate
                                        }}</option>
                                    <option *ngFor="let category of overlaynetTypes" [value]="category.value">{{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="type">{{ form.get('type').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <label for="tunnelType">{{ 'overlaynets.edit.fields.tunnelType.label' | translate
                                    }}</label>
                                <select id="tunnelType" class="w-100 form-control" formControlName="tunnelType">
                                    <option value="" selected>{{ 'overlaynets.edit.fields.tunnelType.placeholder' |
                                        translate }}</option>
                                    <option *ngFor="let category of tunnelTypes" [value]="category.value">{{
                                        category.title }}</option>
                                </select>
                                <small class="error" invalidControlCheck="tunnelType">{{ form.get('tunnelType').errors |
                                    serializeErrors:'errors.validations' }}</small>
                            </div>-->
                        </div>

                    </div>
                    <div class="row" *ngIf="mode !== 'configure'">
                        <div class="col-12 pt-4 d-flex justify-content-end">
                            <app-button [title]="button.title | translate" [state]="button.state" (click)="onSubmit()"
                                *hideItBootstrap="['xs', 'sm']"></app-button>
                            <app-button [title]="button.title | translate" [state]="button.state" (click)="onSubmit()"
                                *showItBootstrap="['xs', 'sm']" class="w-100"></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>