<form class="w-100" [formGroup]="form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div id="create-response" class="form-group ml-2">
                    <div class="row">

                        <div class="col-12 d-flex flex-column mt-1">
                            <label for="body">{{ 'signals.response.fields.text.label' | translate }}</label>
                            <textarea
                                class="w-100 form-control"
                                id="body" cols="40" rows="4"
                                formControlName="body"
                                placeholder="{{ 'signals.response.fields.text.placeholder' | translate }}">
                            </textarea>
                            <small class="error" invalidControlCheck="body">{{ form.get('body').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 d-flex flex-column">
                            <label for="attachments">{{ 'signals.response.fields.attachments.label' | translate }}</label>
                            <div class="row">
                                <div class="col-12 col-md-2 mb-sm-2 pr-0 d-flex flex-column"
                                     *ngFor="let item of attachmentManager.items; let i = index">
                                    <div>
                                        <div class="minus" (click)="onAttachedRemove(i)" preventBubbling>
                                            <i class="mdi mdi-minus-circle"></i>
                                        </div>
                                        <img [src]="item.image" height="50">
                                        <br>
                                        <span style="word-break: break-word;">
                                            {{ item.name }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-column">
                                    <input hidden type="file" multiple #attached
                                           id="attachments" formControlName="attachments"
                                           accept=".jpeg, .jpg, .png, .pdf, .doc, .docx, .pptx, .ppt, .xlsx, .xls"
                                           (change)="onAttachedSelected($event)"/>
                                    <div id="drop" class="d-flex"
                                         (click)="attached.click()" preventBubbling>
                                        <img src="/assets/images/add.png" height="72">
                                    </div>
                                    <small class="error" invalidControlCheck="attachments">{{ form.get('attachments').errors | serializeErrors:'errors.validations' }}</small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 pt-4 d-flex justify-content-end">
                                    <app-button [title]="button.title | translate" [state]="button.state" (click)="onSubmit()" *hideItBootstrap="['xs', 'sm']"></app-button>
                                    <app-button [title]="button.title | translate" [state]="button.state" (click)="onSubmit()" *showItBootstrap="['xs', 'sm']" class="w-100"></app-button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
