<header>
    <div class="container-fluid mx-auto">
        <nav class="row align-items-center" *hideItBootstrap="['xs', 'sm']" >
            <div class="col d-flex align-items-center px-4">
                <h1>{{ mode==='edit' ? ('userGroups.edit.title' | translate) : ('userGroups.create.filterBar.title' | translate) }}</h1>
            </div>
        </nav>
        <div class="row">
            <div class="col d-flex align-items-center px-4">
                <p>{{ 'userGroups.create.filterBar.description' | translate }}</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid mx-auto" style="flex: 1">
    <form class="form-group" [formGroup]="form">

        <div class="row">
            <div class="col d-flex align-items-center px-4">
                <h1>{{ 'userGroups.create.filterBar.fields.name.title' | translate }}</h1>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 d-flex align-items-center px-4 " >
                <input class="w-100 form-control"
                       type="text"
                       id="groupName"
                       formControlName="groupName"
                       placeholder="{{ 'userGroups.create.filterBar.fields.name.placeholder' | translate }}">
            </div>
        </div>
        <div class="row mt-0">
            <div class="col-12 d-flex align-items-center px-4 " >
                <small class="error" invalidControlCheck="groupName">{{ form.get('groupName').errors | serializeErrors:'errors.validations' }}</small>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col d-flex align-items-center px-4">
                <h1>{{ 'userGroups.create.filterBar.fields.description.title' | translate }}</h1>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 d-flex align-items-center px-4 " >
                <textarea
                    class="w-100 form-control"
                    id="groupDescription" cols="40" rows="2"
                    formControlName="groupDescription"
                    placeholder="{{ 'userGroups.create.filterBar.fields.description.placeholder' | translate }}"></textarea>
            </div>
        </div>
        <div class="row mt-0">
            <div class="col-12 d-flex align-items-center px-4 " >
                <small class="error" invalidControlCheck="groupDescription">{{ form.get('groupDescription').errors | serializeErrors:'errors.validations' }}</small>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col d-flex align-items-center px-4" >
                <h1>{{ 'userGroups.create.filterBar.fields.filters.headers.users' | translate }}</h1>
            </div>
        </div>

        <div class="row mt-3">
            <div id="search" class="col d-flex align-items-center px-4">
                <ng-container *ngTemplateOutlet="search;
                context:{
                    key: 'term',
                    hint: 'userGroups.create.filterBar.fields.filters.term.placeholder' | translate,
                    formControl: form.get('filters').get('term')
                }"></ng-container>
            </div>
        </div>

        <div formGroupName="filters">
            <div class="row mt-3">
                <div id="gender" class="col d-flex align-items-center px-4">
                    <ng-container *ngTemplateOutlet="select;
                    context:{
                        key: 'gender',
                        hint: 'userGroups.create.filterBar.fields.filters.gender.placeholder' | translate,
                        formControl: form.get('filters').get('gender'),
                        options: filterOptionsDescriptors.gender }"></ng-container>
                </div>
            </div>

            <div class="row mt-3">
                <div id="resident" class="col d-flex align-items-center px-4">
                    <ng-container *ngTemplateOutlet="select;
                    context:{
                        key: 'resident',
                        hint: 'userGroups.create.filterBar.fields.filters.resident.placeholder' | translate,
                        formControl: form.get('filters').get('resident'),
                        options: filterOptionsDescriptors.resident }"></ng-container>
                </div>
            </div>

            <div class="row mt-3">
                <div id="fromDate" class="col-6 d-flex align-items-center pl-4 pr-2">
                    <ng-container *ngTemplateOutlet="daterange;
                        context:{
                            key: 'from_date_dob',
                            hint: 'userGroups.create.filterBar.fields.filters.dateRange.fromDate' | translate,
                            formControl: form.get('filters').get('from_date_dob'),
                            options: {
                                minDate: {year: 1919, month: 1, day: 1}
                            }
                        }"></ng-container>
                </div>

                <div id="toDate" class="col-6 d-flex align-items-center pr-4 pl-2">
                    <ng-container *ngTemplateOutlet="daterange;
                        context:{
                            key: 'to_date_dob',
                            hint: 'userGroups.create.filterBar.fields.filters.dateRange.toDate' | translate,
                            formControl: form.get('filters').get('to_date_dob'),
                            options: {
                                minDate: {year: 1919, month: 1, day: 1}
                            }
                    }"></ng-container>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col d-flex align-items-center px-4" >
                <h1>{{ 'userGroups.create.filterBar.fields.filters.headers.devices' | translate }}</h1>
            </div>
        </div>

        <div class="row mt-3" formGroupName="filters" >
            <div class="col-12 d-flex align-items-center px-4 " >
                <input class="w-100 form-control" type="text"
                       formControlName="platform_name"
                       placeholder="{{ 'userGroups.create.filterBar.fields.filters.device.os' | translate }}">
            </div>
        </div>

        <div class="row mt-3">
            <app-button class="col-12 px-4 m-auto"
                        [title]="button.title | translate"
                        [state]="button.state"
                        (click)="onSubmit()"></app-button>
        </div>
    </form>
</div>

<ng-template #search
             let-filterKey="key"
             let-hintText="hint"
             let-formControl="formControl">
        <div class="search input-group">
            <input type="text"
                   class="form-control"
                   [formControl]="formControl"
                   [placeholder]="hintText"
                   (keyup)="filters.subject.next({ key: filterKey, value: $event.target['value'] })">

            <div class="input-group-append">
                <i class="mdi mdi-magnify" *ngIf="!loading.term"></i>
                <i class="mdi mdi-loading" *ngIf="loading.term"></i>
            </div>
        </div>
</ng-template>

<ng-template #select
             let-filterKey="key"
             let-hintText="hint"
             let-selected="default"
             let-options="options"
             let-formControl="formControl">
    <div class="w-100" >
        <div class="w-100" >
            <select class="option form-control"
                    [formControl]="formControl"
                    (change)="filters.subject.next({ key: filterKey, value: $event.target['value'] })">
                <option value="" selected>{{ hintText }}</option>
                <option *ngFor="let option of options" [value]="option.value">{{ option.title }}</option>
            </select>
        </div>
    </div>
</ng-template>

<ng-template #daterange
             let-filterKey="key"
             let-hintText="hint"
             let-options="options"
             let-formControl="formControl">
    <div>
        <div class="date-picker input-group">
            <input type="text"
                   class="form-control"
                   ngbDatepicker
                   #datePicker="ngbDatepicker"
                   [formControl]="formControl"
                   [placeholder]="hintText"
                   [showWeekdays]="options['showWeekdays']"
                   [showWeekNumbers]="options['showWeekNumbers']"
                   [minDate]="options['minDate']"
                   [maxDate]="options['maxDate']"
                   (click)="datePicker.toggle()"
                   (dateSelect)="filters.subject.next({ key: filterKey, value: $event })"
                   (keyup)="onDateInputFieldKeyPressed(filterKey, $event.target['value'])">

            <div class="input-group-append" (click)="datePicker.toggle()">
                <i class="mdi mdi-calendar-range"></i>
            </div>
        </div>
    </div>
</ng-template>
