@import "index";

header {
    nav {
        background-color: white;
        height: $navigation-xs-height;

        @include media-breakpoint-down(md) {
            @include box-shadow(10px);
        }

        @include media-breakpoint-up(md) {
            height: $navigation-md-height;
        }

        @include media-breakpoint-up(lg) {
            background-color: $color-background;
        }
    }

    @include media-breakpoint-up(md) {
        left: $side-menu-md-width;
    }

    @include media-breakpoint-up(lg) {
        left: $side-menu-lg-width;
    }

    @include media-breakpoint-up(xl) {
        left: $side-menu-xl-width;
    }
}

h1 {
    font-family: Brown-Bold, sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 0.2px;
}

.option {
    &.form-control {
        line-height: 17px;
    }
}
