<div id="actions" class="row mb-3" *showItBootstrap="['xs', 'sm']">
    <div class="col-6 pl-0 py-2 text-left" (click)="filters.visible = !filters.visible">
        <span class="action">{{ 'signals.list.actions.filter' | translate }}</span>
    </div>
</div>

<form class="w-100">
    <div id="filters" class="row form-group align-items-center mt-0" [hidden]="!filters.visible">
        <div id="search" class="col-12 col-md-3 col-xl-3 d-flex flex-column px-0 mb-2 mr-2">
            <ng-container *ngTemplateOutlet="search; context:{ key: 'term', hint: 'signals.list.filters.fields.search' | translate }"></ng-container>
        </div>
        <div id="fromDate" class="col-12 col-md-3 col-xl-3 d-flex flex-column px-0 mb-2 mr-2">
            <ng-container *ngTemplateOutlet="daterange;
            context:{
                key: 'from_date',
                hint: 'signals.list.filters.fields.fromDate' | translate,
                ngModel: queryFromDate,
                options: {
                    minDate: {year: 1919, month: 1, day: 1}
                }
            }"></ng-container>
        </div>

        <div id="toDate" class="col-12 col-md-3 col-xl-3 d-flex flex-column px-0 mb-2 ">
            <ng-container *ngTemplateOutlet="daterange;
            context:{
                key: 'to_date',
                hint: 'signals.list.filters.fields.toDate' | translate,
                ngModel: queryToDate,
                options: {
                    minDate: {year: 1919, month: 1, day: 1}
                }
            }"></ng-container>
        </div>
    </div>
</form>

<ng-template #search let-filterKey="key" let-hintText="hint">
    <div class="search input-group">
        <input type="text"
               class="form-control"
               [ngModel]="querySearch"
               [placeholder]="hintText"
               (keyup)="filters.subject.next({ key: filterKey, value: $event.target['value'] })">

        <div class="input-group-append">
            <i class="mdi mdi-magnify" *ngIf="!loading.term"></i>
            <i class="mdi mdi-loading" *ngIf="loading.term"></i>
        </div>
    </div>
</ng-template>
<ng-template #daterange let-filterKey="key" let-hintText="hint" let-options="options" let-ngModel="ngModel">
    <div class="date-picker input-group">
        <input type="text"
               class="form-control"
               ngbDatepicker
               #datePicker="ngbDatepicker"
               [ngModel]="ngModel"
               [placeholder]="hintText"
               [showWeekdays]="options['showWeekdays']"
               [showWeekNumbers]="options['showWeekNumbers']"
               [placement]="options['placement'] || 'bottom-left'"
               [minDate]="options['minDate']"
               [maxDate]="options['maxDate']"
               (click)="datePicker.toggle()"
               (dateSelect)="filters.subject.next({ key: filterKey, value: $event })"
               (keyup)="onDateInputFieldKeyPressed(filterKey, $event.target['value'])">

        <div class="input-group-append" (click)="datePicker.toggle()">
            <i class="mdi mdi-calendar-range"></i>
        </div>
    </div>
</ng-template>
