<div class="container-fluid">
    <div id="filters" class="row mx-0">
        <div class="col-12 px-4">
            <app-devices-filters (filtersChange)="onFiltersChange($event)"></app-devices-filters>
        </div>
    </div>
    <div id="devices" class="row">
        <div class="col-12 px-0">
            <table class="w-100 mw-100"
                   [infiniteScrollDistance]="1"
                   [infiniteScrollThrottle]="300"
                   [infiniteScrollDisabled]="paginator.pagination.disabled"
                   (scrolled)="onLoadMore()"
                   infiniteScroll>
                <thead>
                <tr *hideItBootstrap="['xs', 'sm']">
                    <td>{{ 'devices.list.headers.name' | translate }}</td>
                    <td>{{ 'devices.list.headers.model' | translate }}</td>
                    <td>{{ 'devices.list.headers.dor' | translate }}</td>
                    <td>{{ 'devices.list.headers.platform_name' | translate }}</td>
                    <td>{{ 'devices.list.headers.platform_version' | translate }}</td>
                    <td>{{ 'devices.list.headers.user' | translate }}</td>
                </tr>
                </thead>
                <tbody>
                <ng-container *hideItBootstrap="['xs', 'sm']">
                    <tr *ngFor="let device of instances">
                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="name">{{ device.name }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="model">
                                    {{ device.model }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="dor">
                                    {{ device.createdAt | amLocale:'it' | amDateFormat:'DD/MM/YYYY' }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="platform_name">{{ device.platformName | translate }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="platform_version">
                                    {{ device.platformVersion }}
                                </span>
                            </div>
                        </td>

                        <td class="d-flex">
                            <div class="avatar"
                                 [style.backgroundImage]="device.user.avatar | asBackgroundUrl">
                            </div>
                            <div class="d-flex flex-column ml-3 overflow-hidden">
                                <span class="username">{{ device.user.fullName }}</span>
                            </div>
                        </td>

                    </tr>
                </ng-container>

                <ng-container *showItBootstrap="['xs', 'sm']">
                    <tr *ngFor="let device of instances">
                        <td class="d-flex flex-column">
                            <div class="d-flex">
                                <div class="avatar"
                                     [style.backgroundImage]="device.user.avatar | asBackgroundUrl">
                                </div>
                                <div class="d-flex flex-column ml-3 overflow-hidden">
                                    <span class="fullname">{{ device.user.fullName }}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="name">
                                        <b>{{ 'devices.list.headers.name' | translate }}
                                            :</b> {{ device.name }}
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="model">
                                        <b>{{ 'devices.list.headers.model' | translate }}
                                            :</b> {{ device.model }}
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="dor">
                                        <b>{{ 'devices.list.headers.dor' | translate }}
                                            :</b> {{ device.createdAt | amLocale:'it' | amDateFormat:'DD/MM/YYYY' }}
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span>
                                        <b>{{ 'devices.list.headers.platform_name' | translate }}
                                            :</b> {{ device.platformName }}
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="text">
                                        <b>{{ 'devices.list.headers.platform_version' | translate }}
                                            :</b> {{ device.platformVersion }}
                                    </span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
                <tfoot>
                <td colspan="6">
                    <div class="row" *ngIf="paginator.loading">
                        <div class="col-12 pt-5 d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>
