<div id="actions" class="row mb-3" *showItBootstrap="['xs', 'sm']">
    <div class="col-6 pl-0 py-2 text-left" (click)="filters.visible = !filters.visible">
        <span class="action">{{ 'categories.list.actions.filter' | translate }}</span>
    </div>
    <div class="col-6 pr-0 py-2 text-right" routerLink="/categories/create">
        <span class="action">{{ 'categories.list.actions.create' | translate }}</span>
    </div>
</div>

<form class="w-100">
    <div id="filters" class="row form-group align-items-center mt-0" [hidden]="!filters.visible">

        <div id="search" class="col-12 col-md-6 col-xl-4 d-flex flex-column px-0 mb-2 mb-xl-0">
            <ng-container *ngTemplateOutlet="search; context:{ key: 'term', hint: 'categories.list.filters.fields.term.placeholder' | translate }"></ng-container>
        </div>

        <app-button class="ml-auto mb-1" *hideItBootstrap="['xs', 'sm']" [title]="'categories.list.filters.action.create' | translate" [routerLink]="['./create']" ></app-button>

    </div>
</form>

<ng-template #search let-filterKey="key" let-hintText="hint">
    <div class="search input-group">
        <input type="text"
               class="form-control"
               [ngModel]="queryTerm"
               [placeholder]="hintText"
               (keyup)="filters.subject.next({ key: filterKey, value: $event.target['value'] })">

        <div class="input-group-append">
            <i class="mdi mdi-magnify" *ngIf="!loading.term"></i>
            <i class="mdi mdi-loading" *ngIf="loading.term"></i>
        </div>
    </div>
</ng-template>
