@import "index";

$columns-x-padding: 25px;

.tenant-details {
    .text {
        cursor: default;
        margin-left: 10px;
        //letter-spacing: 0.5px;
        //
        font-family: Brown-Regular, sans-serif;
        //font-size: 13px;
        font-weight: 500;
        color: #5a5757;

        .upper {
            text-transform: uppercase;
        }
    }
    .textarea {
        margin-left: 10px;
    }


}
