<div class="container-fluid">

    <div id="details">
        <div class="row">
            <div class="panel col-12 col-xl-6 pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div class="description-stats mt-3">
                            <span class="title">
                                <b>{{ 'tenants.details.fields.id.label' | translate }}:</b> {{ tenant.id }}
                            </span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="description-stats mt-3">
                            <span class="title">
                                <b>{{ 'tenants.details.fields.name.label' | translate }}:</b> {{ tenant.name }}
                            </span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="description-stats mt-3">
                            <span class="title">
                                <b>{{ 'tenants.details.fields.domainId.label' | translate }}:</b> {{ tenant.domainId }}
                            </span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="description-stats mt-3">
                            <span class="title">
                                <b>{{ 'tenants.details.fields.info.label' | translate }}:</b> --
                            </span>
                        </div>
                    </div>
                    <div class="description">
                        <div class="description-stats mt-3">
                            <span class="title">
                                <b>{{ 'tenants.details.fields.token.label' | translate }}:</b> {{ tenant.token }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>