<div class="container-fluid">
    <div id="filters" class="row mx-0">
        <div class="col-12 px-4">
            <app-user-groups-filters (filtersChange)="onFiltersChange($event)"></app-user-groups-filters>
        </div>
    </div>
    <div id="groups" class="row">
        <div class="col-12 px-0">
            <table class="w-100 mw-100"
                   [infiniteScrollDistance]="1"
                   [infiniteScrollThrottle]="300"
                   [infiniteScrollDisabled]="paginator.pagination.disabled"
                   (scrolled)="onLoadMore()"
                   infiniteScroll>
                <thead>
                    <tr *hideItBootstrap="['xs', 'sm']">
                        <td>{{ 'userGroups.list.headers.name' | translate }}</td>
                        <td>{{ 'userGroups.list.headers.description' | translate }}</td>
                        <td>{{ 'userGroups.list.headers.created_at' | translate }}</td>
                        <td>{{ 'userGroups.list.headers.updated_at' | translate }}</td>
                        <td>{{ 'userGroups.list.headers.actions' | translate }}</td>
                    </tr>
                </thead>
                <tbody>
                <ng-container *hideItBootstrap="['xs', 'sm']">
                    <tr *ngFor="let group of instances">
                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="name">
                                    {{ group.name }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="dob">{{ group.description }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="dob">
                                    {{ group.createdAt.toString() | amLocale:'it' | amDateFormat:'DD/MM/YYYY' }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="dob">
                                    {{ group.createdAt.toString() | amLocale:'it' | amDateFormat:'DD/MM/YYYY' }}
                                </span>
                            </div>
                        </td>
                        <td>
                            <div ngbDropdown>
                                <button
                                    class="action-item"
                                    id="dropdown" ngbDropdownToggle>
                                    {{ 'userGroups.list.headers.actions' | translate }}
                                </button>

                                <div ngbDropdownMenu aria-labelledby="dropdown">
                                    <button ngbDropdownItem [routerLink]="['/groups', group.id, 'edit']">
                                        {{ 'userGroups.list.actions.edit.short' | translate }}
                                    </button>
                                    <button ngbDropdownItem (click)="onUserDelete(group.id)">
                                        {{ 'userGroups.list.actions.delete.short' | translate }}
                                    </button>
                                    <button ngbDropdownItem
                                            [routerLink]="['/users']"
                                            [queryParams]="{group: group.id}" >
                                        {{ 'userGroups.list.actions.open' | translate }}
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *showItBootstrap="['xs', 'sm']">
                    <tr *ngFor="let group of instances">
                        <td class="d-flex flex-column">
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="text">
                                        <b>{{ 'userGroups.list.headers.name' | translate }}:</b> {{ group.name }}
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="text">
                                        <b>{{ 'userGroups.list.headers.description' | translate }}:</b> {{ group.description }}
                                    </span>
                                </span>
                            </div>
                            <table>
                                <tr>
                                    <td class="px-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="d-inline-flex align-items-center">
                                            <app-button class="mt-0 pl-0"
                                                        [title]="'users.list.actions.edit.short' | translate"
                                                        [type]="'clear'"
                                                        [routerLink]="['/groups', group.id, 'edit']">
                                            </app-button>
                                        </span>
                                            <span class="d-inline-flex align-items-center">
                                            <app-button class="mt-0 pr-0"
                                                        [title]="'users.list.actions.delete.short' | translate"
                                                        [type]="'clear'"
                                                        (click)="onUserDelete(group.id)">
                                            </app-button>
                                        </span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
                <tfoot>
                <td class="w-100" colspan="3">
                    <div class="row" *ngIf="paginator.loading">
                        <div class="col-12 pt-5 d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>
