@import "index";

$columns-x-padding: 25px;

#users {
    thead,
    tbody {
        th,
        tr {
            @include transition(200ms);

            &:hover {
                background-color: #fdfdfd;
            }

            &:last-child {
                border-bottom: 0;
            }

            td {
                padding-top: 10px;
                padding-bottom: 10px;

                &:nth-child(1) {

                    max-width: 400px;
                    min-width: 100px;
                    padding-left: $columns-x-padding;
                    padding-right: $columns-x-padding;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                        max-width: 100%;
                        min-width: inherit;
                    }
                }

                &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                    min-width: 100px;
                }

                &:nth-child(7) {
                    padding-right: $columns-x-padding;
                    text-align: right;
                }
            }
        }
    }

    tbody {
        tr {
            td {

                @media(min-width:992px){
                    cursor: pointer;
                }
                font-size: 14px;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                }

                .email {
                    cursor: default;
                    font-size: 13px;
                }

                .fullname, .dob, .gender, .account {
                    cursor: default;
                    font-weight: 500;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .action-item {
                    cursor: pointer;
                    border: 1px solid lightgrey;
                    padding: 8px 17px;
                    border-radius: 3px;
                    font-size: 14px;
                    font-family: Brown-Regular, sans-serif;
                    color: #666666;

                    @include transition(200ms);

                    &:hover {
                        color: #333333;
                        border-color: $color-button-state-enabled-background;
                    }

                    &#dropdown {
                        background-color: transparent;
                    }

                }

                div {
                    span {
                        @media(min-width:992px){
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
