<div id="actions" class="row mb-3" *showItBootstrap="['xs', 'sm']">
    <div class="col-6 pl-0 py-2 text-left" (click)="filters.visible = !filters.visible">
        <span class="action">{{ 'areYouFine.list.actions.filter' | translate }}</span>
    </div>
</div>

<form class="w-100">
    <div id="filters" class="row d-flex form-group align-items-center mt-0" *ngIf="filters.visible">
        <div class="col-12 col-md-3 col-xl-3 px-0 mb-2 mr-2">
            <ng-container *ngTemplateOutlet="select; context:{ key: 'status', hint: 'areYouFine.feeds.filters.fields.status.placeholder' | translate, options: filterOptionsDescriptors.status, model: queryStatus }"></ng-container>
        </div>
        <div class="col-12 col-md-3 col-xl-3 px-0 mb-2 mr-auto">
            <ng-container *ngTemplateOutlet="select; context:{ key: 'response', hint: 'areYouFine.feeds.filters.fields.response.placeholder' | translate, options: filterOptionsDescriptors.response, model: queryResponse }"></ng-container>
        </div>
        <div class="col-12 col-md-3 col-xl-3 px-0 mb-2 d-md-flex justify-content-end">
            <div *hideItBootstrap="['xs', 'sm']" ngbDropdown placement="bottom-right" class="d-inline-block">
                <app-button ngbDropdownToggle
                            [title]="button.title | translate"
                            [state]="button.state">
                </app-button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem
                            [innerHTML]="'areYouFine.feeds.actions.reSend.notReceived' | translate"
                            (click)="onResend('sent')"></button>
                    <button ngbDropdownItem
                            [innerHTML]="'areYouFine.feeds.actions.reSend.notReaded' | translate"
                            (click)="onResend('delivered')"></button>
                </div>
            </div>
            <div *showItBootstrap="['xs', 'sm']" ngbDropdown placement="bottom" class="d-inline-block w-100">
                <app-button ngbDropdownToggle
                            [title]="button.title | translate"
                            [state]="button.state">
                </app-button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem
                            [innerHTML]="'areYouFine.feeds.actions.reSend.notReceived' | translate"
                            (click)="onResend('sent')"></button>
                    <button ngbDropdownItem
                            [innerHTML]="'areYouFine.feeds.actions.reSend.notReaded' | translate"
                            (click)="onResend('delivered')"></button>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-template #select
             let-filterKey="key"
             let-hintText="hint"
             let-selected="default"
             let-options="options"
             let-model="model">
    <select class="option form-control"
            [ngModel]="model"
            (change)="onSelectChange(filterKey, $event.target['value'])">
        <option value="" selected>{{ hintText }}</option>
        <option *ngFor="let option of options" [value]="option.value">{{ option.title }}</option>
    </select>
</ng-template>
