<div class="container-fluid">
    <div id="dashboard">
        <div class="row">

            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.devices.total' | translate }}</div>
                        <div class="description-stats">
                            <span class="mdi mdi-router-network "></span> 6
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.overlays.total' | translate }}</div>
                        <div class="description-stats">
                            <span class="mdi mdi-hexagon-slice-2 "></span> 6
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.operators.total' | translate }}</div>
                        <div class="description-stats">
                            <span class="mdi mdi-account"></span> 6
                        </div>
                    </div>
                </div>
            </div>
            <!--  <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.devices.enabled' | translate }}</div>
                        <div class="description-stats">6</div>
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.panel.devices.configured' | translate }}</div>
                        <div class="description-stats">6</div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">

        </div>
        <div class="row">

            <!--             <div class="panel col-12 col-xl-6 pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.noticeTitle' | translate }}</div>
                        
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-xl-6 pl-4 mb-3">
                <div class="item">
                   
                </div>
            </div> -->
        </div>
    </div>
</div>