<div class="container-fluid">
    <div id="dashboard">
        <div class="row">
            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.overlays.label' | translate }}</div>
                        <div class="description-stats"></div>
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.devices.label' | translate }}</div>
                        <div class="description-stats"></div>
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-md-4 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.users' | translate }}</div>
                        <div class="description-stats"></div>
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-md-6 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.devices' | translate }}</div>
                        <div class="description-stats"></div>
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-md-6 col-xl pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.groups' | translate }}</div>
                        <div class="description-stats"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel col-12 col-xl-6 pl-4 mb-3">
                <div class="item">
                    <div class="description">
                        <div>{{ 'dashboard.view.noticeTitle' | translate }}</div>
                        
                    </div>
                </div>
            </div>
            <div class="panel col-12 col-xl-6 pl-4 mb-3">
                <div class="item">
                   
                </div>
            </div>
        </div>
    </div>
</div>
