<form class="w-100" [formGroup]="form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="notice-edit" class="form-group ml-2">
                    <div class="row">
                        <div class="col-12 d-flex flex-column">
                            <label for="title">{{ 'notices.edit.fields.title.label' | translate }}</label>
                            <input type="text" id="title" formControlName="title"
                                   [placeholder]="'notices.edit.fields.title.placeholder' | translate">
                            <small class="error" invalidControlCheck="title">{{ form.get('title').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 d-flex flex-column mt-1">
                            <label for="body">{{ 'notices.edit.fields.body.label' | translate }}</label>
                            <textarea
                                class="w-100 form-control"
                                id="body" cols="40" rows="4"
                                formControlName="body"
                                placeholder="{{ 'notices.edit.fields.body.placeholder' | translate }}">
                            </textarea>
                            <small class="error" invalidControlCheck="body">{{ form.get('body').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 d-flex flex-column mt-1">
                            <label for="titlePreview">{{ 'notices.edit.fields.titlePreview.label' | translate }}</label>
                            <input type="text" id="titlePreview" formControlName="titlePreview"
                                   [placeholder]="'notices.edit.fields.titlePreview.placeholder' | translate" #titlePreview>
                            <small class="form-text"
                                   [innerHTML]="'notices.edit.fields.titlePreview.checkLenght' | translate: { length: titlePreview.value.length, maxLength: maxTitlePreviewLength }">
                            </small>

                            <small class="error" invalidControlCheck="titlePreview">{{ form.get('titlePreview').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 d-flex flex-column mt-1">
                            <label for="bodyPreview">{{ 'notices.edit.fields.bodyPreview.label' | translate }}</label>
                            <textarea
                                class="w-100 form-control"
                                id="bodyPreview" cols="40" rows="4"
                                formControlName="bodyPreview"
                                placeholder="{{ 'notices.edit.fields.bodyPreview.placeholder' | translate }}"
                                #bodyPreview>
                            </textarea>
                            <small class="form-text"
                                   [innerHTML]="'notices.edit.fields.bodyPreview.checkLenght' | translate: { length: bodyPreview.value.length, maxLength: maxBodyPreviewLength }">
                            </small>
                            <small class="error" invalidControlCheck="bodyPreview">{{ form.get('bodyPreview').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 col-md-4 d-flex flex-column mt-1">
                            <label for="type">{{ 'notices.edit.fields.type.label' | translate }}</label>
                            <select id="type" class="w-100 form-control" formControlName="type">
                                <option value="" selected>{{ 'notices.edit.fields.type.placeholder' | translate }}</option>
                                <option *ngFor="let type of noticeType" [value]="type.value">{{ type.title }}</option>
                            </select>
                            <small class="error" invalidControlCheck="type">{{ form.get('type').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 col-md-4 d-flex flex-column mt-1">
                            <label for="frequencyDate">{{ 'notices.edit.fields.frequencyDate.label' | translate }}</label>
                            <ng-container id="frequencyDate" *ngTemplateOutlet="frequencyDate;
                                context:{
                                    hint: 'notices.edit.fields.frequencyDate.placeholder' | translate,
                                    formControl: form.get('frequencyDate'),
                                    options: {
                                        minDate: {year: 1919, month: 1, day: 1},
                                        maxDate: {year: 2600, month: 1, day: 1}
                                    }
                                }"></ng-container>
                            <small class="error" invalidControlCheck="frequencyDate">{{ form.get('frequencyDate').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 col-md-4 d-flex flex-column mt-1">
                            <label for="frequencyTime">{{ 'notices.edit.fields.frequencyTime.label' | translate }}</label>
                            <ng-container id="frequencyTime" *ngTemplateOutlet="frequencyTime;
                                context:{
                                    hint: 'notices.edit.fields.frequencyTime.placeholder' | translate,
                                    formControl: form.get('frequencyTime')
                                }"></ng-container>
                            <small class="error" invalidControlCheck="frequencyTime">{{ form.get('frequencyTime').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 d-flex flex-column mt-1">
                            <label for="category">{{ 'notices.edit.fields.category.label' | translate }}</label>
                            <select *ngIf="mode === 'create'" id="category" class="w-100 form-control" formControlName="category">
                                <option value="" selected>{{ 'notices.edit.fields.category.placeholder' | translate }}</option>
                                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                            </select>
                            <input *ngIf="mode === 'details'" type="text" id="category" class="w-100 form-control" formControlName="category">
                            <small class="error" invalidControlCheck="category">{{ form.get('category').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 d-flex flex-column mt-1">
                            <label for="group">{{ 'notices.edit.fields.group.label' | translate }}</label>
                            <ng-container id="group" *ngTemplateOutlet="group;
                                context:{
                                    hint: 'notices.edit.fields.group.placeholder' | translate,
                                    formControl: form.get('group')}">
                            </ng-container>
                            <small class="error" invalidControlCheck="group">{{ form.get('group').errors | serializeErrors:'errors.validations' }}</small>
                        </div>

                        <div class="col-12 d-flex flex-column" *ngIf="mode === 'create'">
                            <label for="attachments">{{ 'notices.edit.fields.attachments.label' | translate }}</label>
                            <div class="row">
                                <div class="col-12 col-md-2 mb-sm-2 pr-0 d-flex flex-column"
                                     *ngFor="let item of attachmentManager.items; let i = index">
                                    <div>
                                        <div class="minus" (click)="onAttachedRemove(i)" preventBubbling>
                                            <i class="mdi mdi-minus-circle"></i>
                                        </div>
                                        <img [src]="item.image" height="50">
                                        <br>
                                        <span style="word-break: break-word;">
                                            {{ item.name }}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 d-flex flex-column">
                                    <input hidden type="file" multiple #attached
                                           id="attachments" formControlName="attachments"
                                           accept=".jpeg, .jpg, .png, .pdf, .doc, .docx, .pptx, .ppt, .xlsx, .xls"
                                           (change)="onAttachedSelected($event)"/>
                                    <div id="drop" class="d-flex"
                                         (click)="attached.click()" preventBubbling>
                                        <img src="/assets/images/add.png" height="72">
                                    </div>
                                    <small class="error" invalidControlCheck="attachments">{{ form.get('attachments').errors | serializeErrors:'errors.validations' }}</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex flex-column" *ngIf="mode === 'details'">
                            <label *ngIf="this.form.controls.attachments.value.length > 0">{{ this.form.controls.attachments.value.length }} {{ 'notices.edit.fields.listAttachments.label' | translate }}</label>
                                <p *ngIf="this.form.controls.attachments.value.length > 0">
                                    <b *ngFor="let attachment of this.form.controls.attachments.value">
                                        <a target="_blank" [href]="attachment.url" [download]="attachment.name">
                                            {{ attachment.name }}
                                        </a><br>
                                    </b>
                                </p>
                                <p id="attachmentsList" *ngIf="this.form.controls.attachments.value.length === 0">
                                    <b>{{ 'notices.edit.fields.listAttachments.empty' | translate }}</b>
                                </p>
                        </div>

                    </div>
                    <div class="row" *ngIf="mode !== 'details'">
                        <div class="col-12 pt-4 d-flex justify-content-end">
                            <app-button [title]="button.title | translate" [state]="button.state" (click)="onSubmit()" *hideItBootstrap="['xs', 'sm']"></app-button>
                            <app-button [title]="button.title | translate" [state]="button.state" (click)="onSubmit()" *showItBootstrap="['xs', 'sm']" class="w-100"></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-template #group let-hintText="hint" let-formControl="formControl">
    <div class="input-group">
        <input id="typeaheadGroups" type="text" class="form-control"
               [formControl]="formControl"
               [placeholder]="hintText"
               [ngbTypeahead]="searchGroup"
               [inputFormatter]="groupFormatter"
               [resultTemplate]="rt"
               (selectItem)="this.correctGroup = true"/>

        <div class="input-group-append">
            <i class="mdi mdi-magnify" *ngIf="!loading.term"></i>
            <i class="mdi mdi-loading" *ngIf="loading.term"></i>
        </div>
    </div>

    <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </ng-template>

</ng-template>

<ng-template #frequencyDate let-hintText="hint" let-options="options" let-formControl="formControl">
    <div class="date-picker input-group">
        <input type="text"
               class="form-control"
               [formControl]="formControl"
               ngbDatepicker
               #datePicker="ngbDatepicker"
               [placeholder]="hintText"
               [minDate]="options['minDate']"
               [maxDate]="options['maxDate']"
               (click)="datePicker.toggle()">

        <div class="input-group-append" (click)="datePicker.toggle()">
            <i class="mdi mdi-calendar-range"></i>
        </div>
    </div>
</ng-template>

<ng-template #frequencyTime let-hintText="hint" let-formControl="formControl">
    <ngb-timepicker [formControl]="formControl" [spinners]="false" [readonlyInputs]="disableTime" ></ngb-timepicker>
</ng-template>
