@import "index";

#usersLocator{
    .map-container {
        position: relative;
        height: 75vh;
        padding: 0 24px 20px 24px;
    }

    .map-frame {
        border: 2px solid black;
        height: 100%;
    }

    #map {
        height: 100%;
    }
}

#stats {
    &.row {
        padding-left: 24px;
    }
}
