<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>

<div class="container-fluid">
    <div id="usersLocator" class="row">
        <div class="col-12 map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div id="stats" class="row">
        <div class="col-12 mb-2 pl-0">
                <span class="title">
                    <b>{{ 'usersLocation.stats.headers.registered' | translate }}:</b>
                    ({{ usersStats.locations.registered.amount }}) {{ usersStats.locations.registered.percentage }}
                </span>
        </div>
        <div class="col-12 mb-2 pl-0">
                <span class="title">
                    <b>{{ 'usersLocation.stats.headers.unregistered' | translate }} :</b>
                    ({{ usersStats.locations.unregistered.amount }}) {{ usersStats.locations.unregistered.percentage }}
                </span>
        </div>
    </div>
</div>
