@import "index";

$columns-x-padding: 25px;

#measurement-details {
    .text {
        cursor: default;
        margin-left: 10px;
        //letter-spacing: 0.5px;
        //
        font-family: Brown-Regular, sans-serif;
        //font-size: 13px;
        font-weight: 500;
        color: #5a5757;
    }

    #statusid{
        animation: 1s blinker linear infinite;
        cursor: default;
        margin-left: 10px;
        //letter-spacing: 0.5px;
        //
        font-family: Brown-Regular, sans-serif;
        //font-size: 13px;
        font-weight: 500;
        color: rgb(0, 194, 0);
    }

    #statusidstopped{
        cursor: default;
        margin-left: 10px;
        //letter-spacing: 0.5px;
        //
        font-family: Brown-Regular, sans-serif;
        //font-size: 13px;
        font-weight: 500;
        color: rgb(255, 51, 0);
    } 
}

@keyframes blinker{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.titleDetails{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.paragraph-distance{
    margin-bottom: 30px;
}

.container-details{
    display: flex;
    width: 600px;
}

.sinistra{
    width: 200px;
}

.destra{
    width: 400px;
}