<div class="card" style="width: 20rem;">
    <div class="card-body">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{{ interface.name }}" (change)="isChecked($event)">
            <label class="custom-control-label" for="{{ interface.name }}"></label>
        </div>
        <div>
            <label for="{{ 'name_' + interface.name }}">{{ 'overlaynets.edit.fields.localslices.name.label' | translate }}: </label>
            <span id="{{ 'name_' + interface.name }}" class="text">{{ (interface.name !== null) ? interface.name   : "--"}} ({{interface.type}})</span>
        </div>
<!--         <div>
            <label for="{{ 'type_' + interface.name }}">{{ 'overlaynets.edit.fields.localslices.type.label' | translate }}: </label>
            <span  id="{{ 'type_' + interface.name }}" class="text">{{ (interface.type !== null) ? interface.type  : "--"}}</span>
        </div> -->
        <div>
            <label for="{{ 'ipv4_' + interface.name }}">{{ 'overlaynets.edit.fields.localslices.ipv4_addrs.label' | translate }}: </label> 
            <span id="{{ 'ipv4_' + interface.name }}" class="text">{{ (interface.ipv4Addrs !== null  && interface.ipv4Addrs.length > 0) ? interface.ipv4Addrs  : "--"}}</span>
        </div>
        <div>
            <label for="{{ 'ipv6_' + interface.name }}">{{ 'overlaynets.edit.fields.localslices.ipv6_addrs.label' | translate }}: </label> 
            <span id="{{ 'ipv6_' + interface.name }}" class="text">{{ (interface.ipv6Addrs !== null && interface.ipv6Addrs.length > 0) ? interface.ipv6Addrs  : "--"}}</span>
        </div>
        
    </div>
</div>