<div class="container-fluid">
    <div id="filters" class="row mx-0">
        <div class="col-12 px-4">
            <app-signals-filters (filtersChange)="onFiltersChange($event)"></app-signals-filters>
        </div>
    </div>
    <div id="signals" class="row">
        <div class="col-12 px-0">
            <table class="w-100 mw-100"
                   [infiniteScrollDistance]="1"
                   [infiniteScrollThrottle]="300"
                   [infiniteScrollDisabled]="paginator.pagination.disabled"
                   (scrolled)="onLoadMore()"
                   infiniteScroll>
                <thead>
                <tr *hideItBootstrap="['xs', 'sm']">
                    <td>{{ 'signals.list.headers.sender' | translate }}</td>
                    <td>{{ 'signals.list.headers.createdAt' | translate }}</td>
                    <td>{{ 'signals.list.headers.object' | translate }}</td>
                    <td>{{ 'signals.list.headers.body' | translate }}</td>
                    <td>{{ 'signals.list.headers.response' | translate }}</td>
                </tr>
                </thead>
                <tbody>
                <ng-container *hideItBootstrap="['xs', 'sm']">
                    <tr *ngFor="let signal of instances" [routerLink]="['/signals', signal.id, 'details']">
                        <td class="d-flex">
                            <div class="avatar"
                                 [style.backgroundImage]="signal.sender.avatar + '?t=' + timestamp | asBackgroundUrl">
                            </div>
                            <div class="d-flex flex-column ml-3 overflow-hidden">
                                <span class="fullName" style="padding-top: 9px;">{{ signal.sender.fullName }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="date">
                                    {{ signal.createdAt | amLocale:'it' | amDateFormat:'DD/MM/YYYY' }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="title">{{ signal.object }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="title body">{{ signal.body }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden" *ngIf="signal.responses === undefined">
                                <span class="title">
                                    {{'signals.list.fields.response.no' | translate}}
                                </span>
                            </div>
                            <div class="d-flex flex-column overflow-hidden" *ngIf="signal.responses !== undefined">
                                <span class="title" *ngIf="signal.responses.length === 0">
                                    {{'signals.list.fields.response.no' | translate}}
                                </span>
                                <span class="title" *ngIf="signal.responses.length !== 0">
                                    {{'signals.list.fields.response.yes' | translate}}
                                </span>
                            </div>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *showItBootstrap="['xs', 'sm']">
                    <tr *ngFor="let signal of instances" [routerLink]="['/signals', signal.id, 'details']">
                        <td class="d-flex">
                            <div class="avatar"
                                 [style.backgroundImage]="signal.sender.avatar + '?t=' + timestamp | asBackgroundUrl">
                            </div>
                            <div class="d-flex flex-column flex-grow-1 ml-3 overflow-hidden">
                                <span class="fullName">{{ signal.sender.fullName }}</span>
                                <span class="title">
                                    <b>{{ signal.object }}</b>
                                </span>
                                <span class="title body" style="max-width: 170px">
                                    {{ signal.body }}
                                </span>
                            </div>
                            <div class="d-flex flex-column" *ngIf="signal.responses === undefined">
                                <span class="date flex-grow-1">
                                    {{ signal.createdAt | amLocale:'it' | amDateFormat:'DD/MM/YYYY' }}
                                </span>
                                <span>
                                    <i class="mdi mdi-close-circle no-responses"></i>
                                </span>
                            </div>
                            <div class="d-flex flex-column" *ngIf="signal.responses !== undefined">
                                <span class="date flex-grow-1">
                                    {{ signal.createdAt | amLocale:'it' | amDateFormat:'DD/MM/YYYY' }}
                                </span>
                                <span *ngIf="signal.responses.length === 0">
                                    <i class="mdi mdi-close-circle no-responses"></i>
                                </span>
                                <span *ngIf="signal.responses.length !== 0">
                                    <i class="mdi mdi-check-circle yes-responses"></i>
                                </span>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
                <tfoot>
                <td colspan="6">
                    <div class="row" *ngIf="paginator.loading">
                        <div class="col-12 pt-5 d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>
