@import "index";

#operator-edit {
    max-width: 800px;

    .card {
        cursor: pointer;
        width: 150px;
        height: 130px;
        background-color: white;

        @include transition(150ms);

        svg-icon {
            width: 50px;
            height: 50px;

            @include transition(150ms);
        }

        span {
            padding-top: 15px;

            @include transition(150ms);
        }

        &:hover {
            @include box-shadow(10px);
        }

        &:hover,
        &.active {
            svg-icon {
                fill: $color-primary;
            }

            span {
                color: $color-primary;
            }
        }
    }

    #name,
    #surname {
        text-transform: capitalize;
    }

    #email {
        text-transform: lowercase;
    }


    .avatar {
        padding: 10px;
        position: relative;
        margin-bottom: 30px;

        display: flex;
        /* flex-direction defaults to row */

        justify-content: center;
        align-items: center;

        i {
            color: white;
            font-size: 35px;
            transform: translate(50px,130px);
            position: relative;
            top: 90px;
            left: 30px;
        }

        .avatar-img
        {
            border-radius: 100%;
            //box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
            box-shadow: 0 0 20px #c8ccce;
            border: 3px solid white;
        }

        .browse-button
        {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            position: absolute;
            background: linear-gradient(180deg, transparent, black);
            opacity: 0;
            transition: 0.3s ease;
        }

        .browse-button:hover
        {
            opacity: 0.5;
        }

        .browse-input
        {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            transform: translate(-1px,-26px);
            opacity: 0;
            position: relative;
            top: -27px;
            padding: 0;
        }

    }
}
