<form class="w-100" [formGroup]="form">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="operator-edit" class="form-group mx-auto">
                    <div class="row">
                        <div class="col-6 d-flex justify-content-end">
                            <div class="card d-flex flex-column align-items-center justify-content-center px-3 py-4"
                                 [class.active]="form.get('role').value === OperatorRoles.ADMIN"
                                 (click)="form.get('role').setValue(OperatorRoles.ADMIN)">

                                <svg-icon src="/assets/icons/roles/admin.svg"></svg-icon>
                                <span>{{ 'commons.roles.admin' | translate }}</span>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-start">
                            <div class="card d-flex flex-column align-items-center justify-content-center px-3 py-4"
                                 [class.active]="form.get('role').value === OperatorRoles.OPERATOR"
                                 (click)="form.get('role').setValue(OperatorRoles.OPERATOR)">

                                <svg-icon src="/assets/icons/roles/operator.svg"></svg-icon>
                                <span>{{ 'commons.roles.operator' | translate }}</span>
                            </div>
                        </div>
                        <div class="col-12 text-center pt-2">
                            <small class="error" invalidControlCheck="role">{{ form.get('role').errors | serializeErrors:'errors.validations.roles' }}</small>
                        </div>
                    </div>

                    <div class="row pt-4">
                        <div class="col-12 d-flex flex-column mb-3">

                            <div class="avatar text-center">

                                <img class="avatar-img"
                                     width="150"
                                     height="150"
                                     [src]="imageURL"
                                     alt="Avatar Image">

                                <div class="browse-button">
                                    <i class="mdi mdi-pencil"></i>
                                    <input class="browse-input" type="file" accept="image/*"
                                           id="avatar"
                                           formControlName="avatar"
                                           (change)="showPreview($event)" />
                                </div>

                                <small class="error" invalidControlCheck="avatar">{{ form.get('avatar').errors | serializeErrors:'errors.validations' }}</small>

                            </div>

                        </div>
                        <div class="col-12 col-md-6 d-flex flex-column">
                            <label for="name">{{ 'operators.edit.fields.name.label' | translate }}</label>
                            <input type="text" id="name" formControlName="name" [placeholder]="'operators.edit.fields.name.placeholder' | translate">
                            <small class="error" invalidControlCheck="name">{{ form.get('name').errors | serializeErrors:'errors.validations' }}</small>
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-column">
                            <label for="surname">{{ 'operators.edit.fields.surname.label' | translate }}</label>
                            <input type="text" id="surname" formControlName="surname" [placeholder]="'operators.edit.fields.surname.placeholder' | translate">
                            <small class="error" invalidControlCheck="surname">{{ form.get('surname').errors | serializeErrors:'errors.validations' }}</small>
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-column">
                            <label for="phone">{{ 'operators.edit.fields.phone.label' | translate }}</label>
                            <international-phone-number id="phone" formControlName="phone" [placeholder]="'operators.edit.fields.phone.placeholder' | translate" [maxlength]="20" [defaultCountry]="'it'" [required]="false" #phone></international-phone-number>
                            <small class="error" invalidControlCheck="phone">{{ form.get('phone').errors | serializeErrors:'errors.validations' }}</small>
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-column">
                            <label for="email">{{ 'operators.edit.fields.email.label' | translate }}</label>
                            <input id="email" formControlName="email" [placeholder]="'operators.edit.fields.email.placeholder' | translate">
                            <small class="error" invalidControlCheck="email">{{ form.get('email').errors | serializeErrors:'errors.validations' }}</small>
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-column" *ngIf="mode === 'create'">
                            <label for="password">{{ 'operators.edit.fields.password.label' | translate }}</label>
                            <input type="password" id="password" formControlName="password" [placeholder]="'operators.edit.fields.password.placeholder' | translate">
                            <small class="error" invalidControlCheck="password">{{ form.get('password').errors | serializeErrors:'errors.validations.passwords' }}</small>
                        </div>
                        <div class="col-12 col-md-6 d-flex flex-column" *ngIf="mode === 'create'">
                            <label for="password-confirm">{{ 'operators.edit.fields.passwordConfirm.label' | translate }}</label>
                            <input type="password" id="password-confirm" formControlName="password-confirm" [placeholder]="'operators.edit.fields.passwordConfirm.placeholder' | translate">
                            <small class="error" invalidControlCheck="password-confirm">{{ form.get('password-confirm').errors | serializeErrors:'errors.validations.passwords' }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pt-4 d-flex justify-content-end">
                            <app-button [title]="button.title | translate" [state]="button.state" (click)="onSubmit()" *hideItBootstrap="['xs', 'sm']"></app-button>
                            <app-button [title]="button.title | translate" [state]="button.state" (click)="onSubmit()" *showItBootstrap="['xs', 'sm']" class="w-100"></app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
