@import "index";

$columns-x-padding: 25px;

#audit {

    .panel {

        .item {
            background-color: #fbfbfb;
            border: none;
            border-radius: 5px;
            position: relative;
            margin-bottom: 24px;
            box-shadow: 0 5px 5px 0 rgba(0,0,0,.25);
            padding: 5px 0;
            height: 100%;

            .description {
                font-size: 16px;
                opacity: .9;
                text-align: center;

                .description-stats {
                    padding-top: 8px;
                    font-size: 24px;
                }
            }

            i {
                position: absolute;
                right: 0;
                //z-index: -1;
                display: inline-block;
                vertical-align: middle;
                font-size: 80px;
                color: #dddddd;
            }
        }
    }
}
