<div class="container-fluid">
    <div id="filters" class="row mx-0">
        <div class="col-12 px-4">
            <app-notices-filters (filtersChange)="onFiltersChange($event)"></app-notices-filters>
        </div>
    </div>
    <div id="notices" class="row">
        <div class="col-12 px-0">
            <table class="w-100 mw-100"
                   [infiniteScrollDistance]="1"
                   [infiniteScrollThrottle]="300"
                   [infiniteScrollDisabled]="paginator.pagination.disabled"
                   (scrolled)="onLoadMore()"
                   infiniteScroll>
                <thead>
                <tr *hideItBootstrap="['xs', 'sm']">
                    <td>{{ 'notices.list.headers.createdAt' | translate }}</td>
                    <td>{{ 'notices.list.headers.title' | translate }}</td>
                    <td>{{ 'notices.list.headers.recipientsGroupName' | translate }}</td>
                    <td>{{ 'notices.list.headers.type' | translate }}</td>
                    <td>{{ 'notices.list.headers.actions' | translate }}</td>
                </tr>
                </thead>
                <tbody>
                <ng-container *hideItBootstrap="['xs', 'sm']">
                    <tr *ngFor="let notice of instances">
                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="date">{{ notice.createdAt | amLocale:'it' | amDateFormat:'DD/MM/YYYY HH:mm:ss' }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="title">
                                    {{ notice.title }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="title">{{ notice.recipientsGroupName }}</span>
                            </div>
                        </td>

                        <td>
                            <div class="d-flex flex-column overflow-hidden">
                                <span class="title">
                                    {{ notice.type }}
                                </span>
                            </div>
                        </td>

                        <td>
                            <div ngbDropdown>
                                <button
                                    class="action-item"
                                    id="dropdown" ngbDropdownToggle>
                                    {{ 'notices.list.headers.actions' | translate }}
                                </button>

                                <div ngbDropdownMenu aria-labelledby="dropdown">
                                    <button ngbDropdownItem [routerLink]="['/notices', notice.id, 'feeds']">
                                        {{ 'notices.list.actions.feeds' | translate }}
                                    </button>
                                    <button ngbDropdownItem [routerLink]="['/notices', notice.id, 'details']">
                                        {{ 'notices.list.actions.detail' | translate }}
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *showItBootstrap="['xs', 'sm']">
                    <tr *ngFor="let notice of instances">
                        <td class="d-flex flex-column">
                            <div class="d-flex">
                                <div class="d-flex flex-column overflow-hidden">
                                    <span class="date">
                                        <b>{{ 'notices.list.headers.createdAt' | translate }} :</b>
                                        {{ notice.createdAt | amLocale:'it' | amDateFormat:'DD/MM/YYYY HH:mm:ss' }}</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="title">
                                        <b>{{ 'notices.list.headers.title' | translate }} :</b>
                                        {{ notice.title }}
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="title">
                                        <b>{{ 'notices.list.headers.type' | translate }} :</b>
                                        {{ notice.type }}
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <span class="d-inline-flex align-items-center">
                                    <span class="text">
                                        <b>{{ 'notices.list.headers.recipientsGroupName' | translate }} :</b>
                                        {{ notice.recipientsGroupName }}
                                    </span>
                                </span>
                            </div>
                            <table>
                                <tr>
                                    <td class="px-0">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="d-inline-flex align-items-center">
                                            <app-button class="mt-0 pl-0"
                                                        [title]="'notices.list.actions.feeds' | translate"
                                                        [type]="'clear'"
                                                        [routerLink]="['/notices', notice.id, 'feeds']"  >
                                            </app-button>
                                        </span>
                                            <span class="d-inline-flex align-items-center">
                                            <app-button class="mt-0 pr-0"
                                                        [title]="'notices.list.actions.detail' | translate"
                                                        [type]="'clear'"
                                                        [routerLink]="['/notices', notice.id, 'details']"  >
                                            </app-button>
                                        </span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
                <tfoot>
                <td colspan="6">
                    <div class="row" *ngIf="paginator.loading">
                        <div class="col-12 pt-5 d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>
